#heading1{
    color:red;
    background-color:black;
}
.test{
    color:green;
}
.container{
    text-align: left;
    background:grey;
    padding:40px;
    margin :50px;
    border : 10px solid black;
    border-radius: 8px;
    width:250px;
    height:150px;
}
#image{
    border-radius: 150px;
    height: 250px ;
    width: 250px;
}
h4{
    color:indigo
}
.flexdiv{
    width:100%;
    border:1px solid black;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#elemnt{
    text-align: left;
    background: rgb(228, 215, 215);
    padding: 5px;
    margin-left:100px;
    border:1px solid black;
}

body{
    background-image: linear-gradient(grey,white,black)
}

#ele{
    margin:10px;
}

#name{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#year{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#biodiv{
    text-align: left;
    padding: 5px;
}


#elemhead{
    text-align: left;
    font-weight: bold;
    padding: 5px;
}

.flexdiv1{
    width:auto;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items:center;
    flex-direction:row ;
}