#heading1{
    color:red;
    background-color:black;
}
.test{
    color:green;
}
.container{
    text-align: center;
    background: limegreen;
    padding:40px;
    margin :40px;
    border : 10px solid red ;
    border-radius: 8px;
}
#image{
    border-radius: 150px;
    height: 250px ;
    width: 250px;
}
h4{
    color:indigo
}
.flexdiv{
    width:100%;
    border:1px solid black;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#elem{
    text-align: center;
    background: grey;
    padding: 5px;
    border:1px solid red;
}
